{% extends "website/base.html" %}

{% block content %}
    <div class="content">

        <p class="free">

        </p>
        <div class="contain">
            <div class="image">
                <img src="/static/img/cons.jpeg" alt="contact" width="1050" height="300">
            </div>
            <div class="text">
            <h2><u>CONTACT NO:</u><br>
                +822 34440105</h2>
            </div>
        </div>
        <div class="contain">
            <div class="image">
            </div>
            <div class="text">
                <h2><u>EMAIL:</u><br>
                hexabytepvt.ltd@gmail.com</h2>
            </div>
            <div class="text">
                <h2><u>ADDRESS:</u><br>
                42 Teheran-ro 108-gil, Daechi-dong,<br>
                Gangnam-gu, Seoul, South Korea
                </h2>
            </div>
        </div>
    </div>

{% endblock  %}